<!-- app/views/books/index_lazy.turbo_stream.erb -->
<%= turbo_stream.append :books_index_lazy do %>
  <table>
    <tbody>
    <%= render partial: 'books/book', collection: @books, as: :book %>
    </tbody>
  </table>
  <%# if @books.next_page %>
<!--    <div>-->
      <%#= turbo_frame_tag :pagination do %>
        <%#= link_to 'Load More', index_lazy_books_path(page: @books.next_page), data: { turbo_frame: 'books_index_lazy' }, class: 'btn btn-primary text-center' %>
      <%# end %>
<!--    </div>-->
  <%# end %>
<% end %>
