<%= turbo_stream.append :books_index_lazy do %>
  <table>
    <tbody>
    <%= render partial: 'books/book', collection: @books, as: :book %>
    </tbody>
  </table>
<% end %>

<% if @books.next_page %>
  <%= link_to 'Load More', index_lazy_books_path(page: @books.next_page), data: { next_page_link: true }, style: 'display: none;' %>
<% end %>
