/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "style";
@import 'star_rating';
:root {
  --theme-color: #205824;
  --secondary-color: #b9d039;
  --pink-color: #FFC0CB;
  --violet-color: #7F00FF;
  --crimson-color: #DC143C;
  --orange-color: #FFA500;
  --border-color: #205824;
  --menu-background-color: #203318;
  --table-header-color: #06286a;
  --text-color: #999999;
  --primary-text-bacground-color: #ffffff;
  --secondary-text-bacground-color: #b9d039;
  --title-color: #141417;
  --text-font: 'Inter', sans-serif;
  --title-font: 'Manrope', sans-serif;

  --title-span-color: #70A41D;
  --normal-text-color: #2a3042;
  --normal-bg-color: #FFFFFF;
  --subtitle-color: #b9d13a;
  --primary-color: #087748;
  --color: #495058;
}