<%#= turbo_stream.replace "wishlist_button_#{@book.id}" do %>
  <%#= link_to "❤️", book_wishlist_path(@book, @book.wishlists.first), method: :delete, class: "btn btn-success", data: { controller: "wishlist", action: "wishlist#toggleWishlist", wishlist_target: "button" } %>
<%# end %>

<%= turbo_stream.replace dom_id(@book, :wishlist_button) do %>
  <td style="width: 25%" id="<%= dom_id(@book, :wishlist_button) %>" data-wishlist-id="<%= @wishlist.id %>">
    <%= link_to "❤️", book_wishlist_path(@book, @wishlist), method: :delete, class: "btn btn-success", data: { controller: "wishlist", action: "wishlist#toggleWishlist", wishlist_target: "button", method: "delete", book_id: @book.id, wishlist_id: @wishlist.id } %>
  </td>
<% end %>
