<%= turbo_stream.replace "wishlist_button_#{@book.id}" do %>
  <td style="width: 25%" id="wishlist_button_<%= @book.id %>">
    <%= link_to "ðŸ¤", book_wishlists_path(@book), method: :post, class: "btn btn-outline-success", data: { controller: "wishlist", action: "wishlist#toggleWishlist", wishlist_target: "button" } %>
  </td>
<% end %>
